@font-face {
	font-family: "Quilline Script";
	src: url("font/quilline-script.ttf") format("truetype");
}

@font-face {
	font-family: "Blanch Inline";
	src: url("font/blanch-inline.otf") format("opentype");
}

body {
	font-family: "Open Sans";
	margin: 0;
	padding: 0;
}

/* 
light blue: #b9b0cb;
dark blue: #000080;
dark sapphire blue: #082567 rba(8,37,103);
*/

nav {
	background-color: #383838;
	-webkit-box-shadow: 1px 0px 15px #333;
	-moz-box-shadow: 1px 0px 15px #333;
	box-shadow: 1px 0px 15px #333;
	filter: alpha(opacity=70);
	opacity: 0.7;
	width: 100%;
}

.navigation {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 960px;
}

.navigation li {
	display: inline-block;
	padding: 20px;
}

.navigation a {
	color: #b2b2b2;
	font-family: "Ubuntu";
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.navigation a:hover {
	filter: alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.navigation .home a,
#hashtag .logo {
	font-family: "Blanch Inline";
	font-size: 50px;
	font-weight: normal;
	line-height: 10px;
	vertical-align: top;
}

.navigation .home a i,
#hashtag .logo i {
	font-size: 18px;
	vertical-align: bottom;
}

nav.fixed {
	position: fixed;
	top: 0;
	z-index: 10;
}

.navigation .active {
	color: #fff;
}

section h1 {
	font-family: "Blanch Inline";
	font-size: 150px;
	margin-bottom: 0;
	text-shadow: 9px 8px 0px rgba(0, 0, 0, 0.15);
}

section h1 i {
	font-size: 60px;
	vertical-align: middle;
}

section h2 {
	font-family: "Pacifico";
	font-size: 60px;
	margin-bottom: 40px;
	margin-top: 0;
}

.container {
	margin: 0 auto;
}

.wrapper {
	color: #fff;
	padding-top: 50px;
	text-align: center;
}

#home {
	background: url("../images/bg-home.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-shadow: 9px 8px 0px rgba(0, 0, 0, 0.15);
}

#home .wrapper {
	padding-top: 200px;
}

#home h1 {
	font-family: "Quilline Script";
	font-size: 80px;
	margin: 0;
	text-shadow: 0px 1px 1px #4d4d4d;
}

#home h4 {
	font-family: serif;
	font-size: 24px;
	margin: 0;
	text-shadow: 0px 1px 1px #4d4d4d;
	text-transform: uppercase;
}

#home .bottom {
	bottom: 50px;
	margin-left: -420px;
	left: 50%;
	position: absolute;
}

#story {
	background: #e3ded5;
}

#story h1 {
	color: #db6b71;
}

#story .col-md-6 {
	height: 300px;
	overflow: auto;
}

#story h2 {
  text-align: center;
}

#story .item {
  display: none;
}

#bridalparty {
	background: #f1c40f;
}

#bridalparty h1 {
	color: #34495e;
}

#bridalparty .container {
	width: 600px;
}

#gallery {
	background: url("../images/bg-sf.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#gallery .wrapper {
   	background: rgba(29, 41, 81, 0.5);
	padding: 0;
}

#gallery h1 {
	color: #e3ded5;
}

#gallery .row:first-child {
	margin-bottom: 40px;
	margin-top: 40px;
}

#gallery .carousel-control {
	background-image: none;
}

#gallery img {
	border: 1px solid #fff;
	margin: 50px auto 0;
}

#wedding {
	background: url("../images/bg-lb.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#wedding h1 {
	color: #db6b71;
}

#wedding .wrapper {
   	background: rgba(0, 0, 0, 0.5);
}

#wedding .container {
	padding: 0;
	width: 700px;
}

#wedding .row {
	background: #b9b0cb;
	margin: 35px 0 0 0;
	padding: 20px;
}

#wedding .border {
	background: #b9b0cb;
	border: 1px solid #fff;
}

#wedding .border.first {
	padding: 5px;
}

#wedding p {
	font-family: serif;
	font-size: 12px;
	margin: 0;
	text-transform: uppercase;
}

#wedding .section {
	margin: 20px 0;
}

#wedding .header {
	margin: 10px 0;
}

#wedding h2 {
	font-family: "Quilline Script";
	margin: 0;
}

#wedding .show-map,
#wedding .hide-map {
	bottom: 50px;
	margin-left: -48px;
	left: 50%;
	position: absolute;
}

#wedding .border.second {
	padding: 30px;
}

#weddingCarousel a {
	color: #fff;
}

#weddingCarousel a:hover {
	text-decoration: none;
}

#wedding .item.reception {
	margin-top: 131px;
}

#wedding .row.reception {
	margin: 25px auto 0;
	width: 500px;
}

#wedding .reception h2 {
	font-family: serif;
	line-height: 46px;
	text-transform: uppercase;
}

#wedding .reception .header {
	margin: 10px 0;
}

#wedding .reception .section {
	margin: 0;
}

#wedding .reception .section.ceremony {
	margin-top: 15px;
}

#wedding .reception .underline {
	border-bottom: 1px solid #fff;
	display: inline-block;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#wedding .ceremonyDirections {
	margin-top: 10px;
}

#registry {
	background: #db6b71;
}

#registry h1 {
	color: #e3ded5;
}

#registry .container {
	text-align: center;
	width: 700px;
}

#registry .row {
	margin: 25px auto 50px;
	width: 500px;
}

#registry a {
	display: block;
	color: #fff;
}

#registry a:hover {
	text-decoration: none;
}

#hashtag {
	background: url("../images/bg-hashtag.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

#hashtag .wrapper {
   	background: rgba(29, 41, 81, 0.5);
}

#hashtag .container {
	width: 600px;
}

#hashtag h1 {
	color: #fff;
}

#hashtag p {
	margin: 0;
}

#gumz {
	bottom: 5px;
	position: absolute;
	right: 5px;
}