@font-face {
	font-family: "Quilline Script";
	src: url("font/quilline-script.ttf") format("truetype");
}

@font-face {
	font-family: "Blanch Inline";
	src: url("font/blanch-inline.otf") format("opentype");
}

body {
	color: #333;
	font-family: "Ubuntu";
	font-size: 16px;
	margin: 0;
	padding: 0;
}

/* 
light blue: #b9b0cb;
dark blue: #000080;
dark sapphire blue: #082567 rba(8,37,103);
*/

nav {
	background-color: #383838;
	-webkit-box-shadow: 1px 0px 15px #333;
	-moz-box-shadow: 1px 0px 15px #333;
	box-shadow: 1px 0px 15px #333;
	filter: alpha(opacity=70);
	opacity: 0.7;
	width: 100%;
}

.navigation {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 960px;
}

.navigation li {
	display: inline-block;
	padding: 20px;
}

.navigation a {
	color: #b2b2b2;
	font-family: "Ubuntu";
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.navigation a:hover {
	filter: alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.navigation .home a {
	font-family: "Blanch Inline";
	font-size: 50px;
	font-weight: normal;
	line-height: 16px;
	vertical-align: top;
}

.navigation .home a i,
#hashtag .logo i {
	font-size: 18px;
	vertical-align: bottom;
}

nav.fixed {
	position: fixed;
	top: 0;
	z-index: 10;
}

.navigation .active {
	color: #fff;
}

section h1 {
	color: #b29600;
	font-family: "Blanch Inline";
	font-size: 150px;
	margin-bottom: 0;
	text-align: center;
	text-shadow: 9px 8px 0px rgba(0, 0, 0, 0.15);
	white-space: nowrap;
}

section h1 i {
	font-size: 60px;
	vertical-align: middle;
}

section h2 {
	color: #082567;
	font-family: "Pacifico";
	font-size: 40px;
	margin-top: 0;
	text-align: center;
	text-shadow: 0px 1px 1px #fff;
}

.container {
	margin: 0 auto;
}

.wrapper {
	padding-top: 50px;
	text-align: center;
}

#home {
	background: url("../images/bg-home.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-shadow: 9px 8px 0px rgba(0, 0, 0, 0.15);
}

#home .wrapper {
	color: #fff;
	padding-top: 200px;
}

#home h1 {
	color: #fff;
	font-family: "Quilline Script";
	font-size: 80px;
	text-shadow: 0px 1px 1px #4d4d4d;
}

#home h4 {
	font-family: serif;
	font-size: 24px;
	margin: 0;
	text-shadow: 0px 1px 1px #4d4d4d;
	text-transform: uppercase;
}

#home .bottom {
	bottom: 50px;
	margin-left: -420px;
	left: 50%;
	position: absolute;
}

#story {
	padding: 50px 0;
}

#story .col-md-6 {
	padding: 0 50px;
}

#story h4 {
	color: #aaa;
	font-family: "Blanch Inline";
	font-size: 40px;
	margin-bottom: -8px;
}

#story h3 {
	border-bottom: 1px solid #aaa;
	color: #b29600;
	font-family: "Quilline Script";
	font-size: 60px;
	margin: 0 0 15px;
}

#story p {
	text-align: justify;
}

#gallery {
	background: url("../images/bg-sf.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#gallery .wrapper {
   	background: rgba(29, 41, 81, 0.5);
	padding: 0;
}

#gallery h1 {
	color: #e3ded5;
}

#gallery .row:first-child {
	margin-bottom: 40px;
	margin-top: 40px;
}

#gallery .carousel-control {
	background-image: none;
}

#gallery img {
	border: 1px solid #fff;
	margin: 50px auto 0;
}

#wedding {
	background: url("../images/bg-lb.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
}

#wedding .wrapper {
   	background: rgba(0, 0, 0, 0.5);
}

#wedding .container {
	padding: 0;
}

@media (min-width: 768px) {
	#wedding .container {
		width: 700px;
	}
}

#wedding .row {
	background: #b9b0cb;
	margin: 35px 0 0 0;
	padding: 20px;
}

#wedding .border {
	background: #b9b0cb;
	border: 4px double #fff;
}

#wedding .section {
	margin: 20px 0;
}

#wedding .header {
	margin: 10px 0;
}

#wedding h2 {
	color: #fff;
	font-family: "Quilline Script";
	margin: 0;
}

#wedding p {
	font-family: serif;
	font-size: 12px;
	margin: 0;
	text-transform: uppercase;
}

#wedding .directions {
	border-top: 4px double #fff;
	margin: 0 20px;
	padding: 20px 0;
}

#wedding .directions p {
	font-family: "Ubuntu";
	font-size: 16px;
	text-transform: inherit;
}

#wedding .directions .form-group {
	margin-top: 5px;
}

#registry .container {
	padding: 0;
	text-align: center;
}

#registry .row {
	margin: 25px auto 50px;
}

#registry a {
	display: block;
	color: #082567;
	padding: 10px;
}

#registry a:hover {
	color: #082567;
	text-decoration: none;
	padding: 0;
}

#hashtag {
	background: url("../images/bg-hashtag.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
}

#hashtag .wrapper {
   	background: rgba(29, 41, 81, 0.5);
   	color: #fff;
}

#hashtag h1 {
	font-family: "Blanch Inline";
	font-size: 150px;
}

#hashtag p {
	margin: 0;
}

#hashtag .instagram {
	margin-top: 5px;
}

.btn-instagram {
	color: #fff;
	background-color: #3f729b;
	border-color: rgba(0,0,0,0.2);
	display: inline;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.btn-instagram:hover {
	color: #fff;
	background-color: #335d7e;
}

.btn-social {
	position: relative;
	padding-left: 38px;
}

.btn-social :first-child {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 32px;
	line-height: 30px;
	font-size: 1.6em;
	text-align: center;
	border-right: 1px solid rgba(0,0,0,0.2);
}

#hashtag .margin-top {
	margin-top: 10px;
}

#hashtag .logo {
	font-family: "Blanch Inline";
	font-size: 50px;
	font-weight: normal;
	line-height: 10px;
	margin-top: 5px;
	vertical-align: top;
}

#gumz {
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: 5px 0;
	text-align: center;
}