body {
	font-family: 'Open Sans';
	margin: 0;
	padding: 0;
}

nav {
	background: url('../images/header-background.png');
	-webkit-box-shadow: 1px 0px 15px #333;
	-moz-box-shadow: 1px 0px 15px #333;
	box-shadow: 1px 0px 15px #333;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.container {
	margin: 0 auto;
	padding: 0;
	position: relative;
	text-align: center;
	width: 960px;
}

.container li {
	display: inline-block;
	padding: 20px;
}

.container a {
	color: #fff;
	font-family: 'Pacifico';
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	text-decoration: none;
	text-shadow: #2c3e50 1px 1px 0px;
}

.container a:hover {
	color: #34495e;
}

#home {
	background: url("../images/home.jpg");
	background-attachment: fixed;
	background-clip: initial;
	background-origin: initial;
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 1080px;
	position: relative;
}

#story {
	background: url("../images/about.jpg");
	background-attachment: fixed;
	background-clip: initial;
	background-origin: initial;
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300px;
	position: relative;
}

#wedding {
	background: url("../images/blog.jpg");
	background-attachment: fixed;
	background-clip: initial;
	background-origin: initial;
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300px;
	position: relative;
}

#rsvp { 
	background: url("../images/contact.jpg");
	background-attachment: fixed;
	background-clip: initial;
	background-origin: initial;
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300px;
	position: relative;
}

#registry { 
	background: url("../images/home.jpg");
	background-attachment: fixed;
	background-clip: initial;
	background-origin: initial;
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300px;
	position: relative;
}

.bg_parallax h1 {
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 4px;
	line-height: 300px;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
	vertical-align: middle;
}

.stuff {
	margin: 25px auto;
	width: 960px;
}

.stuff h2 {
	border-bottom: 5px solid #e74c3c;
	color: #c0392b;
	font-family: 'Oleo Script';
	font-size: 32px;
	margin-bottom: 15px;
	text-shadow: #e74c3c 1px 1px 0px;
}

.stuff p {
	margin-bottom: 10px;
}